body {
    font-family: Arial, sans-serif;
    background-color: #ded1dd;
    
}

h1, h2, h3 {
    color: #333;
    font-weight: 400;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

p {
    color: #333;
    font-size: 2em;
    line-height: 1;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #337ab7;
    color: #a97070;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


address {
    font-style: italic;
}