body{
    font-family:Arial, sans-serif;
    background-color:#f9f9f9;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    
}
div {
    width: 300px;
    border: 15px solid #7e3e5b;
    padding: 70px;
    margin: 20px;
    background-color: #826782
  }

.DatingSite h1{

    text-align: center;
    color:#333;
    line-height: 1.6;
    margin-bottom:30px;
    font-size:1.8em;
    
    

}

.DatingSite label {

display: block;
line-height: 1.8;
margin: 20px 10px;
color: #555;
font-weight: bold;

}

.DatingSite input[type="text"],
.DatingSite input[type="date"],
.DatingSite select {

   width: 100%;
   padding: 10px;
   line-height: 1.5;
   margin-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   font-size: 1em;
   color: #ccc; }

   .DatingSite input[type="radio"],
   .DatingSite input[type="checkbox"] {

    margin-right: 5px;
}

.radio-group,
fieldset {
    margin-bottom: 15px;
}

.radio-group label,
fieldset label {
    font-weight: normal;
    display: flex;
    align-items: center;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.DatingSite button {

    width:100%;
    padding:10px;
    background-color:#28a745;
    color: #f9f9f9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}


.DatingSite button:hover {
    background-color: #218838;
}














