body {
    font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F7F7F7; 
    justify-content: Top;
    display: block; 
    align-items: center;
    height: 100vh;
    margin: 0; 
    padding: 20px; 
}
h1 {
    color: #333; 
    font-size: 2em;
    font-weight: 600; 
    margin-bottom: 20px;
}
p {
    color: #333; 
    font-size: 2em;

}
img {
    max-width: 100%;
    height: auto;
    margin: 20px; 
    border-radius: 10px; 

}
h2 {
    color: #333; 
    font-size: 2em;
    font-weight: 400; 
    margin-bottom: 20px;
}

h3 {
    color: #333; 
    font-size: 2em;
    font-weight: 400; 
    margin-bottom: 20px;
}
h4 {
    color: #333; 
    font-size: 2em;
    font-weight: 400; 
    margin-bottom: 20px;
}
h5 {
    color: #333; 
    font-size: 2em;
    font-weight: 400; 
    margin-bottom: 20px;
}
h6 {
    color: #333; 
    font-size: 2em;
    font-weight: 400; 
    margin-bottom: 20px;
}