header{
background-color: aqua;



}
nav{
background-color: brown;

}
nav{
background-color: aquamarine;


}

main{
background-color:#f9f;

}

section{
    background-color: #fcf;
}

footer{
    background-color: #fdf;
}