header{
background-color: rgb(203, 188, 188);
padding: 20;
text-align: center;
}

nav{
    margin: 20;
}

body{
    margin: 0;
    padding: 0;
    background-color: azure;
}


    h1, h2, p, ul {
        margin: 0;
        padding: 0;

}

nav ul{
background-color: rgb(165, 184, 154);
margin: 0;
padding: 0;
display:flex;
max-width: 600px;
justify-content:space-around;
list-style-type: none;
}


nav ul li {
display: inline;
margin:0 15px;

}

nav ul li a{
    color: #0e0e0e;
    padding:10px 15px;
    text-decoration: none;
    transition: background-color 0.3s;


}



main{
background-color:#f9f;
padding: 20px; 

}

section{
    background-color: #fcf;
    margin-bottom: 40px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0; 
    width: 100%;
}
footer a {
    color: #fb00ff;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline; 
}